src/main/mule/kafka-sfdc-contract-inbound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<global-property doc:name="Global Property" doc:id="34e4b6bb-e901-4430-af89-38e22c157201" name="env" value="local" />
	<global-property doc:name="Global Property" doc:id="17fa8993-6a8c-4c62-84ba-774ee01b3bde" name="key" value="apisero" />
	<os:object-store name="Token_object_store" doc:name="Object store" doc:id="94b6b011-d7e7-4612-9294-9d00d57ee409" maxEntries="60000" expirationInterval="3200" expirationIntervalUnit="SECONDS" entryTtl="1200"/>
	<sub-flow name="CallOfferValidationEndpoint" doc:id="c82cabdc-cc07-4205-a33d-920ddfaba667" >
		<set-variable value="#[vars.offerMapping.status]" doc:name="Set Variable For endpoint direction" doc:id="4fb45d00-3344-48f0-b08c-435bf61abb88" variableName="offerValidation" />
		<try doc:name="Try" doc:id="061bbf2f-d1ab-4d11-aa35-8cec52246a09" >
			<choice doc:name="Choice" doc:id="6d925c60-2a0c-4c60-9b4f-84f85ab321cb">
			<when expression="#[(vars.offerMapping.status != null) and (['REVIEW', 'COMPLETE', 'CONTRACT_SENT', 'CONTRACT_RECEIVED'] contains (vars.offerMapping.status))]">
				<http:request method="POST" doc:name="POST to Salesforce Offer Contract" doc:id="d1659eee-fda9-445a-aa14-2db335c222a8" config-ref="Salesforce_HTTP_Config" outputMimeType="application/json" sendBodyMode="ALWAYS" requestStreamingMode="NEVER" url='#[vars.SFDCTokenInfo.instance_url ++ "/adc/v1/offer"]'>
					<http:body><![CDATA[#[%dw 2.0
				output application/json indent=false
				---
				read(payload.data.payload.Request_Body__c,"application/json")]]]></http:body>
					<http:headers><![CDATA[#[output application/java
				---
				{
					"Content-Type" : "application/json"
				}]]]></http:headers>
				</http:request>
				<logger level="INFO" doc:name="Log JSON message result" doc:id="aa84bf31-7fe0-4dd0-8fa8-8ba0e40c62de" message="#[payload]" />
			</when>
			<otherwise>
				<http:request method="POST" doc:name="POST to Salesforce Offer Validation" doc:id="dcb6fe90-e150-469f-a6a1-3e60874b5ccf" config-ref="Salesforce_HTTP_Config" outputMimeType="application/json" sendBodyMode="ALWAYS" requestStreamingMode="NEVER" url='#[vars.SFDCTokenInfo.instance_url ++ "/services/apexrest/adc/v1/offer"]'>
					<http:body><![CDATA[#[%dw 2.0
output application/json indent=false
---
vars.offerMapping]]]></http:body>
					<http:headers><![CDATA[#[output application/java
				---
				{
					"Content-Type" : "application/json",
					"Authorization" : "Bearer " ++ vars.SFDCTokenInfo.access_token
				}]]]></http:headers>
				</http:request>
				<logger level="INFO" doc:name="Log JSON message result" doc:id="95aad9a7-9d52-4635-a818-a61e9c1e9ee6" message="#[payload]" />
			</otherwise>
		</choice>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fbf3e43a-9e58-46e4-9071-6bdddc1545cc" type="ANY">
					<logger level="INFO" doc:name="Copy_of_Log JSON message content" doc:id="034a30a7-6b4b-46bb-85e8-8394cf3530da" message="#[payload]" />
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
	<sub-flow name="getSalesforceToken" doc:id="9900e7df-956b-4482-8c25-b2983a70cb32">
			<choice doc:name="Choice" doc:id="20d0b662-71e6-4345-a0b0-19c34f7dd40b">
				<when expression='#[vars.SFDCTokenInfo == null]'>
					<http:request method="POST" doc:name="Access Token Request" doc:id="445d9fe5-ae18-4d51-b1f1-3a6788157856" outputMimeType="application/json" target="SFDCTokenInfo" config-ref="Salesforce_Token" path="${salesforce.token.path}">
				<http:body><![CDATA[#[output application/x-www-form-urlencoded --- {'grant_type':'password', 'client_id':'${sfdc.client}', 'client_secret':'${sfdc.secret}', 'username':'${sfdc.username}', 'password':'${secure::sfdc.password}${sfdc.securityToken}'}]]]></http:body>
				<http:headers><![CDATA[#[output application/java
					---
					{
						"Content-Type" : "application/x-www-form-urlencoded"
					}]]]>
					</http:headers>
				</http:request>
					<os:store doc:name="Store Token" doc:id="e4d335ad-fb37-42c1-a5f9-0dd4791716a5" key="salesforce-token" objectStore="Token_object_store">
				<os:value><![CDATA[#[vars.SFDCTokenInfo]]]></os:value>
			</os:store>
				<logger level="INFO" doc:name="Logger" doc:id="a419282e-8e08-4d0a-8dc3-21b2666c0edd" message='#["Token Stored at: " ++ now()]' />
				
	</when>
			<otherwise >
				<os:retrieve doc:name="Retrieve" doc:id="17611914-8c37-44ab-8b15-eb6d1ecd4d63" key="salesforce-token" objectStore="Token_object_store" target="SFDCTokenInfo">
					<os:default-value ><![CDATA[#[null]]]></os:default-value>
				</os:retrieve>
			</otherwise>
			</choice>
		</sub-flow>
	<flow name="kafka-sfdc-contract-inboundFlow" doc:id="49287344-f6ba-4ac6-b002-90e42d95a477" >
		<kafka:message-listener doc:name="Message listener" doc:id="652ca685-fbea-45f6-9791-f4a0172bc4df" config-ref="Apache_Kafka_Consumer_configuration">
		</kafka:message-listener>
		<logger level="INFO" doc:name="Logger" doc:id="00110947-e466-4aaa-a2be-6cf27cd3c382" message="#[payload]"/>
		<logger level="INFO" doc:name="Log serialized input" doc:id="ee6bb5a1-480f-4c7d-a728-263813c04e1d" message='#[%dw 2.0
import * from dw::core::Binaries
output application/json
var myBinary = payload as Binary { class: "byte[]"}
---
toHex(myBinary)]'/>
<set-variable value="${morpheus.registry}" doc:name="Set invocation params" doc:id="f2d6a582-fe95-4255-9a94-85ccde763ed4" variableName="schemaRegistryURL" />
<java:invoke-static doc:name="Deserialize Object with schema registry" doc:id="e6d89bee-9433-4124-8fcd-bfead63dbd39" class="com.auction.sfdc.contract.transform.Transformer" method="parseIncoming(byte[],java.lang.String)">
			<java:args ><![CDATA[#[{
	arg0: payload as Binary { class: "byte[]"},
	arg1: vars.schemaRegistryURL as String 
}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Convert to JSON" doc:id="b8996879-e884-43d7-b3cf-c0ad92ddd0cf" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="offerMapping" ><![CDATA[%dw 2.0
output application/json
var bodyJson  = read (payload, "application/json")
---
{
    offerId: bodyJson.offer.offerId,
    redcId: bodyJson.offer.redcId,
    listingId: bodyJson.offer.listingId,
    mlhPropertyId: bodyJson.offer.mlhPropertyId,
    eventId: bodyJson.offer.eventId,
    percentComplete: bodyJson.offer.percentComplete,
    winningBidUser: bodyJson.offer.winningBidUser,
    status: bodyJson.offer.status,
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="20f90110-2f65-4569-8cda-596f636f4346" name="getSalesforceToken"/>
		<flow-ref doc:name="Flow Reference" doc:id="4bed21da-3fa9-41b6-8caf-ea50845f6108" name="CallOfferValidationEndpoint" />
		<logger level="INFO" doc:name="Log JSON message content" doc:id="24b5c333-e2e2-4fa4-bed1-f6fc58ebab5e" message="#[payload]"/>			
	</flow>
</mule>
